<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.5" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MvvmCross" version="7.1.2" targetFramework="net461" />
  <package id="MvvmCross.Platforms.Wpf" version="7.1.2" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
</packages>