<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="7.1.2" targetFramework="net461" />
  <package id="QRCoder" version="1.4.1" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
</packages>