<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.4" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.6" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net461" />
</packages>