<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="MahApps.Metro" version="2.4.5" targetFramework="net461" requireReinstallation="true" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.7" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="QRCoder" version="1.4.1" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net461" />
</packages>